<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.konye.lingo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FirstActivity"
            android:label="Mahadum"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SlideActivity"
            android:label="@string/title_activity_slide"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LanguageActivity"
            android:label="@string/title_activity_language"
            android:parentActivityName=".LanguageHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SlideViewActivity"
            android:label="@string/title_activity_slide_view"
            android:parentActivityName=".LanguageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QuizViewActivity"
            android:label="@string/title_activity_quiz_view"
            android:parentActivityName=".LanguageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VideoViewActivity"
            android:label="@string/title_activity_video_view"
            android:parentActivityName=".LanguageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VideoPlayActivity"
            android:label="@string/title_activity_video_play"
            android:parentActivityName=".VideoViewActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LanguageHomeActivity"
            android:label="@string/title_activity_language_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChooseLanguageActivity"
            android:label="@string/title_activity_choose_language"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StoreActivity"
            android:label="@string/title_activity_store"
            android:parentActivityName=".ChooseLanguageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BookActivity"
            android:label="@string/title_activity_book"
            android:parentActivityName=".StoreActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PdfReaderActivity"
            android:parentActivityName=".BookActivity" />
        <activity
            android:name=".LandingPageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VideoActivity"
            android:label="@string/title_activity_video"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".StoreActivity"/>
    </application>

</manifest>