<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mahadum360.mahadum">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Mahadum"
        android:allowBackup="false"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.activities.FirstActivity"
            android:label="Mahadum"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.SlideActivity"
            android:label="@string/title_activity_slide"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.LanguageActivity"
            android:label="@string/title_activity_language"
            android:parentActivityName=".ui.activities.LanguageHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.SlideViewActivity"
            android:label="@string/title_activity_slide_view"
            android:parentActivityName=".ui.activities.LanguageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.QuizViewActivity"
            android:label="@string/title_activity_quiz_view"
            android:parentActivityName=".ui.activities.LanguageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.VideoViewActivity"
            android:label="@string/title_activity_video_view"
            android:parentActivityName=".ui.activities.LanguageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.VideoPlayActivity"
            android:label="@string/title_activity_video_play"
            android:parentActivityName=".ui.activities.VideoViewActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.LanguageHomeActivity"
            android:label="@string/title_activity_language_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.ChooseLanguageActivity"
            android:label="@string/title_activity_choose_language"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.StoreActivity"
            android:label="@string/title_activity_store"
            android:parentActivityName=".ui.activities.ChooseLanguageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.BookActivity"
            android:label="@string/title_activity_book"
            android:parentActivityName=".ui.activities.StoreActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.PdfReaderActivity"
            android:parentActivityName=".ui.activities.BookActivity" />
        <activity
            android:name=".ui.activities.LandingPageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.VideoActivity"
            android:label="@string/title_activity_video"
            android:parentActivityName=".ui.activities.StoreActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.auth.AuthActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>